<extends src='layout.html'>
	<block name='content'>
    <section id="main" class="container">
      <header>
        <h2>Massothérapie</h2>
      </header>
      <div class="box">
        <span class="image featured"><img src="/img/masso.jpg" alt="" /></span>
        {{{ marked(dato.service_page[1].description) }}}
        <h3>Notre équipe en massothérapie</h3>
        <div class="row">
          <div class="6u 12u(mobilep)">
						<h3>Luc Thibault</h3>
            <span class="image fit"><img src="/img/luc.jpg" alt=""></span>
          </div>
          <div class="6u 12u(mobilep)">
						<p>Massothérapeute depuis 2007, Luc n’a cessé de se perfectionner dans son domaine. Il a cumulé au fil du temps une solide expérience en massothérapie, tant dans des centres de santé que dans un contexte de détente corporelle. Soucieux de l’avancement de sa profession autant que de sa carrière, il a siègé pendant 6 ans sur le conseil d’administration de la Fédération Québécoise des Massothérapeutes (FQM). Maîtrisant l’art de la massothérapie de détente, Luc a aussi développé le côté thérapeutique de son métier en développant une pratique interdisciplinaire en acupuncture et massothérapie. Son implication dans le monde des soins alternatifs reflète son engagement social, qu’il concrétise par la participation à la clinique AcuPop depuis le tout début, et par la mise sur pieds d’un service mobile, l’Aiguille Volante, dans le but de rendre la massothérapie accessible au grand public.</p>
          </div>
        </div>
        <div class="row">
          <div class="6u 12u(mobilep)">
            <h3>Ève Lemay</h3>
            <span class="image fit"><img src="/img/eve.jpg" alt=""></span>
          </div>
          <div class="6u 12u(mobilep)">
						<p>Riche de 20 années d’expérience en accompagnement et relation d’aide, Ève s’est lancée dans l’expérience du toucher thérapeutique 2n 106. Sa formation en Suédois Cinétique lui donne des bases rigoureuses en massothérapie, qu’elle enrichit d’approches somatiques unifiant corps, émotions et esprit. Par différents outils et approches, en maximisant les habiletés intuitives liées aux expériences personnelles et professionnelles, Ève supporte une démarche personnalisée et inspirante qui favorise l’émergence d’un regard nouveau sur soi et sur le monde vers l’expérimentation de situations nouvelles permettant l’accès à des ressources insoupçonnées.</p>
          </div>
        </div>
      </div>
    </section>
	</block>
</extends>
