<extends src='layout.html'>
	<block name='content'>
    <section id="main" class="container">
      <header>
        <h2>Ostéopathie</h2>
      </header>
      <div class="box">
        <span class="image featured"><img src="/img/osteo.jpg" alt="" /></span>
        {{{ marked(dato.service_page[2].description) }}}
        <h3>Notre équipe en ostéopathie</h3>
        <div class="row">
          <div class="6u 12u(mobilep)">
						<h3>Caroline Bergeron</h3>
            <span class="image fit"><img src="/img/caro.jpg" alt=""></span>
          </div>
          <div class="6u 12u(mobilep)">
						<p>Caroline a longtemps été travaillé dans l’intervention: sauvetage aquatique, sécurité privée, sécurité incendie, sécurité en milieu psychiatrique. Jusqu’au jour où est né un intérêt pour le travail relationnel à travers le suivi et l’espace thérapeutique. Ostéopathe, elle est toujours influencée par l’esprit d’équipe dans lequel elle a évolué par le passé. C’est pourquoi elle s’intéresse aux valeurs communautaires et coopératives de l’économie sociale, une idéologie alternative au capital classique. Elle a le désir d’établir une pratique qui lui ressemble : calme et sérieuse, mais toujours en train de se réinventer. Pour Caroline, l’ostéopathie c’est le travail de la matière, la recherche de l’équilibre, l’immobilité dans le mouvement et l’écoute dans le dialogue.</p>
          </div>
        </div>
        <div class="row">
          <div class="6u 12u(mobilep)">
						<h3>Benjamin Breton</h3>
            <!--- <span class="image fit"><img src="/img/seb.jpg" alt=""></span> --->
          </div>
          <div class="6u 12u(mobilep)">
						<p>description à venir</p>
          </div>
        </div>
      </div>
    </section>
	</block>
</extends>
