nav {
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;

  svg {
    fill : white;
    @include size(1em);
  }

  a {
    display: flex;
    align-items: center;
    @include size(2.5rem);
    font-size: 2.5em;
    color: inherit;
  }
}
