section {
  display: flex;
  flex-direction: column;
  border: black solid 4vw;
  border-top: none;

  .img {
    display: flex;
    align-items: center;
    height: 400px;
    // flex: 1;
    background: {
      image: url(/assets/img/acu.jpg);
      size: cover;
      position: center;
    }
  }

  h3 {
    margin-top: -6rem;
    padding: 0 1rem;
    background-color: transparentize(black, .2);
    letter-spacing: 1px;
    font-size: 3rem;
    color: white;
    display: block;
  }
}
