<extends src='layout.html'>
	<block name='content'>
		<div id='page-wrapper'>
			<header id='header'>
				<h1><a href='/'>AcuPop</a></h1>
				<nav id='nav'>
				  <ul>
				    <li><a href='/acupuncture'>Acupuncture</a></li>
				    <li><a href='/massotherapie'>Massothérapie</a></li>
				    <li><a href='/osteopathie'>Ostéopathie</a></li>
				    <li><a href='/points-service'>Points de service</a></li>
				    <li><a href='/faq'>FAQ</a></li>
				    <li><a href='#' class='button'>Rendez-Vous</a></li>
				  </ul>
				</nav>
			</header>

			<section id='main' class='container'></section>
		</div>
	</block>
</extends>
