<!DOCTYPE HTML>
<html>
	<head>
		<block name='title'>
			<title>AcuPop Montréal</title>
		</block>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel='stylesheet' href='css/main.css' />
	</head>
	<body class='{{ pageId }}'>
		<!-- <div id='page-wrapper'> -->
			<header id='header' class='alt'>
				<h1><a href='/'>AcuPop</a></h1>
				<nav id='nav'>
				  <ul>
				    <li><a href='/acupuncture'>Acupuncture</a></li>
				    <li><a href='/massotherapie'>Massothérapie</a></li>
				    <li><a href='/osteopathie'>Ostéopathie</a></li>
				    <li><a href='/points-service'>Points de service</a></li>
				    <li><a href='/faq'>FAQ</a></li>
				    <li><a href='#' class='button'>Rendez-Vous</a></li>
				  </ul>
				</nav>
			</header>

			<block name='content'></block>
		<!-- </div> -->

		<script src='vendor/jquery.min.js'></script>
		<script src='vendor/jquery.dropotron.min.js'></script>
		<script src='vendor/jquery.scrollgress.min.js'></script>
		<script src='vendor/skel.min.js'></script>
		<script src='vendor/util.js'></script>
		<script src='vendor/main.js'></script>

	</body>
</html>
